Repository Arson-Club/Impulse: changes, and which Codecov flags are due for each by the changed paths.
All: API, App, Docker Broker, Jar Broker

.codecov.yaml:

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: api
      name: API
      paths:
        - api/**
    - component_id: app
      name: App
      paths:
        - app/**
    - component_id: docker_broker
      name: Docker Broker
      paths:
        - docker-broker/**
    - component_id: jar_broker
      name: Jar Broker
      paths:
        - jar-broker/**

Refactor Jar broker into Command Broker
  api/src/main/kotlin/club/arson/impulse/api/server/Broker.kt
  api/src/main/kotlin/club/arson/impulse/api/server/BrokerFactory.kt
  api/src/main/kotlin/club/arson/impulse/api/server/Status.kt
  app/src/main/kotlin/club/arson/impulse/PlayerLifecycleListener.kt
  app/src/main/kotlin/club/arson/impulse/server/ServerBroker.kt
  build.gradle.kts
  command-broker/build.gradle.kts
  command-broker/src/main/kotlin/club/arson/impulse/commandbroker/CommandBroker.kt
  command-broker/src/main/kotlin/club/arson/impulse/commandbroker/CommandBrokerConfig.kt
  command-broker/src/main/kotlin/club/arson/impulse/commandbroker/CommandBrokerFactory.kt
  command-broker/src/main/kotlin/club/arson/impulse/commandbroker/JarBroker.kt
  command-broker/src/main/kotlin/club/arson/impulse/commandbroker/JarBrokerConfig.kt
  docker-broker/src/main/kotlin/club/arson/impulse/dockerbroker/DockerBrokerFactory.kt
Due: API, App, Docker Broker

fix build
  .codecov.yaml
  build.gradle.kts
  command-broker/build.gradle.kts
  command-broker/src/main/kotlin/club/arson/impulse/commandbroker/CommandBrokerFactory.kt
  command-broker/src/main/kotlin/club/arson/impulse/commandbroker/JarBroker.kt
Due: none

fix unit tests
  app/src/test/kotlin/club/arson/impulse/PlayerLifecycleListenerTest.kt
  app/src/test/kotlin/club/arson/impulse/ServerTest.kt
  app/src/test/kotlin/club/arson/impulse/inject/MockFactoriesProvider.kt
Due: App

Update error handling for configuration init
  app/src/main/kotlin/club/arson/impulse/config/ConfigManager.kt
Due: App

add unit testing to ConfigManager
  app/src/main/kotlin/club/arson/impulse/config/ConfigManager.kt
  app/src/test/kotlin/club/arson/impulse/ConfigManagerTest.kt
  gradle.properties
Due: App

Add 0.3.0 doc updates
  .github/workflows/deploy-docs.yml
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/SUMMARY.md
  docs/contributing/CONTRIBUTING.md
  docs/getting_started/connecting_and_exploring.md
  docs/getting_started/impulse_configuration.md
  docs/getting_started/jar_broker.md
  docs/getting_started/prerequisites.md
  docs/kdocs.md
  docs/reference/command-broker.md
  docs/reference/docker-broker.md
  docs/reference/jar-broker.md
  gradle.properties
Due: none

add kdocs
  command-broker/src/main/kotlin/club/arson/impulse/commandbroker/CommandBroker.kt
  command-broker/src/main/kotlin/club/arson/impulse/commandbroker/CommandBrokerConfig.kt
  command-broker/src/main/kotlin/club/arson/impulse/commandbroker/JarBroker.kt
  command-broker/src/main/kotlin/club/arson/impulse/commandbroker/JarBrokerConfig.kt
Due: none

fix docs
  docs/getting_started/prerequisites.md
Due: none

fix ci
  .github/workflows/deploy-docs.yml
Due: none

Fix CI
  api/build.gradle.kts
  app/build.gradle.kts
  build.gradle.kts
  command-broker/build.gradle.kts
  docker-broker/build.gradle.kts
Due: API, App, Docker Broker

Initial build scripts cleanup
  api/build.gradle.kts
  app/build.gradle.kts
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/ImpulseBaseConventionPlugin.kt
  buildSrc/src/main/kotlin/dokka-convention.gradle.kts
  buildSrc/src/main/kotlin/dokka.gradle.kts
  buildSrc/src/main/kotlin/kotlin-common-conventions.gradle.kts
  buildSrc/src/main/kotlin/kotlin-jvm.gradle.kts
  buildSrc/src/main/kotlin/shadow-jar.gradle.kts
  command-broker/build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
Due: API, App

fix ci
  .github/workflows/ci.yml
Due: none

clean up conventions
  .github/workflows/ci.yml
  api/build.gradle.kts
  app/build.gradle.kts
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/ImpulseBaseConventionPlugin.kt
  buildSrc/src/main/kotlin/conventions/impulse-base.gradle.kts
  buildSrc/src/main/kotlin/conventions/shadow-jar.gradle.kts
  buildSrc/src/main/kotlin/dokka.gradle.kts
  buildSrc/src/main/kotlin/utils/LibsHelper.kt
  command-broker/build.gradle.kts
  docker-broker/build.gradle.kts
  gradle/libs.versions.toml
Due: API, App, Docker Broker

cleanup conventions and publishing
  .github/workflows/ci.yml
  api/build.gradle.kts
  app/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/conventions/impulse-base.gradle.kts
  buildSrc/src/main/kotlin/conventions/impulse-publish.gradle.kts
  buildSrc/src/main/kotlin/conventions/jar.gradle.kts
  command-broker/build.gradle.kts
Due: API, App

fix jdk version
  build.gradle.kts
  buildSrc/build.gradle.kts
Due: none

gradle is bad
  api/build.gradle.kts
  build.gradle.kts
  buildSrc/src/main/kotlin/conventions/impulse-publish.gradle.kts
Due: API

debug publish
  .github/workflows/ci.yml
  .github/workflows/gradle-publish.yml
  buildSrc/src/main/kotlin/conventions/impulse-publish.gradle.kts
Due: none

debug publish
  .github/workflows/gradle-publish.yml
Due: none

set publish for release
  .github/workflows/gradle-publish.yml
Due: none

Fix Velocity annotation compilation
  buildSrc/src/main/kotlin/conventions/impulse-base.gradle.kts
Due: none

Add crafty reference and update README
  README.md
  docs/reference/brokers.md
Due: none

initial broker implementation
  .gitignore
  api/src/main/kotlin/club/arson/impulse/api/server/Status.kt
  app/src/main/kotlin/club/arson/impulse/commands/ServerStatus.kt
  build.gradle.kts
  buildSrc/src/main/kotlin/conventions/impulse-publish.gradle.kts
  buildSrc/src/main/kotlin/conventions/shadow-jar.gradle.kts
  docs/licensing.md
  gradle/libs.versions.toml
  oraclecloud-broker/build.gradle.kts
  oraclecloud-broker/src/main/kotlin/club/arson/impulse/oraclebroker/OracleCloudBroker.kt
  oraclecloud-broker/src/main/kotlin/club/arson/impulse/oraclebroker/OracleCloudBrokerFactory.kt
  oraclecloud-broker/src/main/kotlin/club/arson/impulse/oraclebroker/OracleCloudConfig.kt
Due: API, App

Allow try block hunting on initial connect
  app/src/main/kotlin/club/arson/impulse/PlayerLifecycleListener.kt
  app/src/test/kotlin/club/arson/impulse/PlayerLifecycleListenerTest.kt
Due: App

Add server starting status via bossbar display
  api/src/main/kotlin/club/arson/impulse/api/config/Configuration.kt
  api/src/main/kotlin/club/arson/impulse/api/config/Messages.kt
  api/src/main/kotlin/club/arson/impulse/api/config/ServerConfig.kt
  api/src/main/kotlin/club/arson/impulse/api/config/TransferSettings.kt
  api/src/main/kotlin/club/arson/impulse/api/events/ServerEvents.kt
  app/src/main/kotlin/club/arson/impulse/Impulse.kt
  app/src/main/kotlin/club/arson/impulse/PlayerLifecycleListener.kt
  app/src/main/kotlin/club/arson/impulse/TransferStatusListener.kt
  app/src/main/kotlin/club/arson/impulse/config/ConfigManager.kt
  app/src/main/kotlin/club/arson/impulse/server/Server.kt
  app/src/test/kotlin/club/arson/impulse/PlayerLifecycleListenerTest.kt
Due: API, App

fix tests for playerLifecycleListener
  app/src/main/kotlin/club/arson/impulse/server/Server.kt
  app/src/test/kotlin/club/arson/impulse/PlayerLifecycleListenerTest.kt
Due: App

add initial waiting room redirect
  api/src/main/kotlin/club/arson/impulse/api/config/Configuration.kt
  api/src/main/kotlin/club/arson/impulse/api/config/TransferSettings.kt
  app/src/main/kotlin/club/arson/impulse/PlayerLifecycleListener.kt
  app/src/main/kotlin/club/arson/impulse/TransferStatusListener.kt
  app/src/main/kotlin/club/arson/impulse/config/ConfigManager.kt
Due: API, App

unit tests fixes
  api/src/main/kotlin/club/arson/impulse/api/config/TransferSettings.kt
  app/src/main/kotlin/club/arson/impulse/PlayerLifecycleListener.kt
  app/src/main/kotlin/club/arson/impulse/server/Server.kt
Due: API, App

Update dependencies
  gradle.properties
  gradle/libs.versions.toml
Due: none

Fix Velocity 4 injection and add startup notifications
  app/src/main/kotlin/club/arson/impulse/PlayerLifecycleListener.kt
Due: App
